[
    {
        "Author": "Unlost World",
        "Name": "Studio Fourteen",
        "Punchline": "Improved screenshots in and around GPose",
        "Description": "Alpha - please be careful!",
        "InternalName": "StudioFourteen",
        "AssemblyVersion": "1.0.1.{version}",
        "TestingAssemblyVersion": "1.0.1.{version}",
        "RepoUrl": "https://github.com/UnlostWorld/StudioFourteen",
        "ApplicableVersion": "any",
        "DalamudApiLevel": 14,
        "TestingDalamudApiLevel": 14,
        "DownloadLinkInstall": "https://github.com/UnlostWorld/StudioFourteen/releases/download/v{version}/PeerSync.zip",
        "DownloadLinkTesting": "https://github.com/UnlostWorld/StudioFourteen/releases/download/v{version}/PeerSync.zip",
        "DownloadLinkUpdate": "https://github.com/UnlostWorld/StudioFourteen/releases/download/v{version}/PeerSync.zip",
		"IconUrl": "https://raw.githubusercontent.com/UnlostWorld/StudioFourteen/refs/heads/main/Assets/icon.png",
        "Tags": []
    }
]
